.about_container 
{
    
    position:absolute;
    top:80%;
    left:50%;
    text-align:center;
    width:100%;
      
  
    

}

.about_pic 
{
    flex:1;
    
}

.about_bio 
{
flex:1;
font-size:60%;
text-align:center;


}

.bio_pic
 {
    width:250px;
    height:250px;
    border-radius:10% ;
    -webkit-border-radius:10% ;
    -moz-border-radius:10% ;
    -ms-border-radius:10% ;
    -o-border-radius:10% ;
}
