* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}


/*mobile stylings*/

@media only screen and (min-width: 420px){

    body {
        width:100%;
        height:100vh;
       
    }

    

    .container {
        grid-template-columns:1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        width:100%;
        height:100vh;
        grid-template-areas: 
                            "main"
                            "main"
                            "main"
                            "main"

                            
                            ;
    }

    .main {
        
        background-image: url(img/mobilepic.jpg);
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        height:100vh;

    }

   

    .sidebar {
        
        display:none;
    }

    .mynamelogo {
        position:absolute;
        top:60%;
        width:200px;
        left:180px;
    }

    .mobile_nav {
      display:none;
        
    }

    /**projects**/

    .projects {
        display:grid;
        grid-template-columns:1fr;
        grid-template-areas:
        "ppic"
        "project1"
        "project2"
        ;
    }
    
    .project1{
        grid-area:project1;
        background-color:green;
    }

    .project2 {
        grid-area:project2;
        background-color:purple;
    }

    /***preview boxs**/

    .previewbox1 {
        height:50vh;
        background-color:grey;
        width:80%;
        margin:0 auto;
    }

    .previewbox2 {
        height:50vh;
        background-color:red;
        width:80%;
        margin:0 auto;
    }

}

@media screen and (min-width:900px){

    .container {
        height:100vh;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1.5fr 1.5fr 1.5fr 1.5fr;
        grid-template-areas: 
        "main main main sidebar"
        "main main main sidebar"
        "main main main sidebar"
        "main main main sidebar"
    
    }
    
    .main {
        grid-area:main;
        background-color:#A3A0A0;
        color:white;
    }
    
    .sidebar {
        grid-area:sidebar;
        background-color:#D6D1D1;
        color:white;
    }

    .mobile_nav {
        display:none;
    }
    
    }